<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Halaman Tambah Teachers</h1>
  </td>
  </tr>
    </tbody>
    </table>
</body>
<table border = '2px'>
<form action="/teachers/add" method="POST">
  <label>First_name : <input type="text" name="first_name" placeholder="first_name" </label>
  <label>Last_name : <input type="text" name="last_name" placeholder="last_name"</label>
  <label>Email : <input type="email" name="email" placeholder="email"</label>
  <label>Subjects : <label>
      <select class="" name="subjectsId">
           <option value="kimia">Kimia</option>
            <option value="ekonomi">Ekonomi</option>
        </select>
  <input type="submit" value="SUBMIT">
</form>
</table>
</html>
